body{
    background-color: black;
    margin-top: 120px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.title-text{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: large;
    color: white;
}

.main-text{
    margin: 0px;
    color: white;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.center{
    margin: auto;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 60px;
    align-self: center;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 60px;
    padding-bottom: 30px;
}



@media only screen and (max-width:980px) {

    .title{
        font-weight: bold;
        margin-bottom: 90px;
        font-size: 36px;
    }

    body{        
        margin-top: 300px;        
    }
    
    .center{
        margin-left: 60px;
        margin-right: 60px;
        padding-bottom: 120px;
    }

    .title-text{
        font-weight: normal;
        margin-bottom: 60px;
        margin-top: 120px;
        font-size: 30px;
        color: white;
    }
    
    .main-text{
        font-weight: lighter;
        margin: 0px;
        color: white;
        font-size: 18px;
    }
           
}